@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource/outfit";
@import "@fontsource/dm-sans";

html,
body {
  padding: 0;
  margin: 0;
  font-family: DM Sans, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply font-heading text-2xl;
}

h1 {
  @apply font-heading text-5xl font-medium tracking-tight;
}

h2 {
  @apply font-heading text-2xl lg:text-4xl font-medium;
}

h3 {
  @apply text-xl font-heading text-blue-900 tracking-tighter;
}

h4 {
  @apply text-xl font-heading;
}

h6 {
  @apply text-sm uppercase tracking-widest font-semibold;
}

.divider {
  @apply h-px bg-gray-300 lg:mx-14;
}

.svgicon {
  @apply h-5 w-5 text-stone-600;
}

.form-label {
  @apply text-base lg:text-lg font-medium;
}

.input-area {
  @apply w-full border rounded p-2 focus:outline-none focus:border-slate-400;
}
